{% extends "base.html" %}

{% block title %}Caso 1 - Salud{% endblock %}

{% block content %}
<div class="container mt-5">

    <!-- Botón de regreso al menú (arriba) -->
    <div class="mb-4">
        <a href="/menu" class="btn btn-dark">⬅ Volver al Menú</a>
    </div>

    <!-- Título centrado con fondo blanco -->
    <h2 class="text-center border bg-success bg-opacity-25 text-dark p-3 mb-4 rounded">
        conceptos basicos
    </h2>

    <!-- Contenido del texto con fondo blanco y borde -->
    <div class="bg-light border p-4 rounded" style="text-align: justify;">
        <p>
            colocar la informacion 
        
        </p>
        <!--Agregar mas parrafo -->
    </div>

</div>
{% endblock %}
