{% extends "base.html" %}

{% block title %}Casos de Éxito - ML en Finanzas{% endblock %}

{% block content %}
<div class="container mt-5">

    <!-- Botón de regreso al menú -->
    <div class="mb-4">
        <a href="/menu" class="btn btn-dark">⬅ Volver al Menú</a>
    </div>

    <!-- Título -->
    <h2 class="text-center border bg-primary bg-opacity-25 text-dark p-3 mb-4 rounded">
        🚘 Machine Learning en el Sector Automotriz 🚘
    </h2>

    <!-- Contenido -->
    <div class="bg-light border p-4 rounded" style="text-align: justify;">
        <p>
            La integración del aprendizaje automático (ML) en la
            industria automotriz ha generado avances significativos, 
            transformando el transporte y creando un ecosistema más conectado, 
            inteligente y sostenible. Las aplicaciones del ML abarcan diversas áreas,
            como el mantenimiento predictivo, los vehículos autónomos, los sistemas avanzados 
            de asistencia al conductor, la conectividad vehicular, el infoentretenimiento, la fabricación
            y la optimización de la cadena de suministro.
        </p>