% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="text-center border bg-success bg-opacity-25 text-dark p-3 mb-4 rounded">Aplicacion de Machine Learning Supervisado</h1>
    <p class="lead bg-texto-blanco">
        ML supervisado <strong> es una técnica que entrena modelos a partir
         de datos <br> etiquetados para predecir o clasificar 
         resultados futuros con base en patrones aprendidos.<br></p>

         <h1 class="text-center border bg-success bg-opacity-25 text-dark p-3 mb-4 rounded">Regresion Lineal </h1>
    <p class="lead bg-texto-blanco">
        ML supervisado <strong> explicacion de regresion lineals.<br><br> 
        Click en el menu Principal para escoger tu tema <br>👇 </p>

    <a href="/menu" class="btn btn-primary btn-lg mt-4 d-block mx-auto" style="width: max-content;">
        Ir al Menú</a>
</div>
{% endblock %}

