{% extends "base.html" %}

{% block title %}Menú{% endblock %}

{% block content %}
<h2 class="text-center border bg-success bg-opacity-25 text-dark p-3 mb-4 rounded">Casos de Uso en Machine Learning</h2>
<div class="list-group">
    <a href="/index1" class="list-group-item list-group-item-action fw-bold text-success"> 👨‍⚕️ ML en el sector de la Salud </a>
    <a href="/index2" class="list-group-item list-group-item-action fw-bold text-success"> 🛒 Machine Learning en el Sector Retail </a>
    <a href="/index3" class="list-group-item list-group-item-action fw-bold text-success"> 🏦 Machine Learning en el Sector Financiero </a>
    <a href="/index4" class="list-group-item list-group-item-action fw-bold text-success">Caso 4</a>
</div>
<div class="text-center mt-4">
    <a href="/" class="btn btn-secondary">Volver al Inicio</a>
</div>
{% endblock %}